body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(28, 2, 28);
  }
  
  .Register {
    max-width: 400px; 
    margin: 80px auto; 
    padding: 50px;
    background-color: white;
  }
  
  input[type='text'],
  input[type='password'],
  input[type='date'],
  input[type='email'],
  input[type='tel'] {
    width: 100%;
    padding: 15px;
    margin: 10px 0;
    display: inline-block;
    border: none;
    background: #f1f1f1;
  }
  
  input[type='text']:focus,
  input[type='password']:focus,
  input[type='date']:focus,
  input[type='email']:focus,
  input[type='tel']:focus {
    background-color: #77c7d7;
    outline: none;
  }
  
  .mandatory {
    color: red;
  }
  
  .Gender {
    margin-top: 20px;
  }
  
  .Rsgbtn {
    background-color: #047baa;
    color: white;
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 100%;
    opacity: 0.9;
  }
  
  .Rsgbtn:hover {
    opacity: 1;
  }
  